    <link rel="stylesheet" href="/filter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

     <div class="navbar_container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light top_navbar">
              <div class="container-fluid">
                   <div class="navbar_left">
                         <a class="navbar-brand">LoveBetter</a>
                   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                   </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                       <div class="navbar-nav">
                        <a class="nav-link" href="/findmatches"><img src="https://img.icons8.com/material/64/000000/find-user-male--v1.png"/>Find Matches</a>
                       </div>
                     </div>
                  </div>
              
                        <div class="navbar_right">
                              <div class="action">

                                 <div class="profile" onclick="menuToggle();">
                                     <img src="/upload/{{user.profilepic}}">
                                 </div>
                                 
                                 <div class="menu">
                                   <h3>{{user.firstname}}</h3>
                                     {{!-- <h3>Someone Famous<br><span>Website De</span></h3> --}}
                                     <ul>
                                         <li><img src="https://img.icons8.com/material/64/000000/user-male-circle--v1.png"/><a href="/myprofile">My Profile</a></li>
                                         {{!-- <li><img src="https://img.icons8.com/ios-glyphs/24/000000/edit-property.png"/><a href="#">Edit Profile</a></li> --}}
                                         {{!-- <li><img src="https://img.icons8.com/material/64/000000/coins--v1.png"/><a href="#">Get Coins</a></li> --}}
                                         {{!-- <li><img src="https://img.icons8.com/ios-glyphs/24/000000/gear.png"/><a href="#">Settings</a></li> --}}
                                         {{!-- <li><img src="https://img.icons8.com/ios-glyphs/24/000000/help.png"/><a href="#">Help</a></li> --}}
                                         <li><img src="https://img.icons8.com/material/64/000000/logout-rounded-left--v1.png"/><a href="/logout">Log Out</a></li>
                                     </ul>
                                </div>

                              </div>
                        </div>
              </div>
            </nav>
      </div>


 <div class="container">
    <div class="title">My Filter</div>
    <div class="content">
      <form action="/editfilter" method="POST">
        <div class="user-details">
          <div class="input-box">
            <label for="gender">Gender</label>
              <select name="preferredGender" id="gender" value={{filter.preferredGender}} required>
                <option value="gender">-Select-</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
          </div>
          <div class="input-box row">
              <div clas="col-12">
                <label for="age" id="label_age">Age</label>
              </div>

              <select name="min_age" id="min_age" value={{filter.min_age}} required>
              <option value="min_age">From</option>
              </select>

              <select name="max_age" id="max_age" value={{filter.max_age}} required>
              <option value="max_age">To</option>
              </select>
          </div>

          <div class="input-box row">
              <div clas="col-12">
                <label for="height">Height</label>
              </div>

              <select name="min_height" id="min_height" value={{filter.min_height}} required>
              <option value="min_height">From</option>
              </select>

              <select name="max_height" id="max_height" value={{filter.max_height}} required>
              <option value="max_height">To</option>
              </select>
          </div> 
            

            <div class="input-box">
              <label for="education">Education</label>
              <select name="preferredEducation" id="education" value={{filter.preferredEducation}} required>
                <option value="education">-Select-</option>
              </select>
            </div>


            <!-- <div class="input-box">
              <label for="ethnicity">Ethnicity</label>
              <select name="ethnicity" id="ethnicity">
                <option value="ethnicity">-Select-</option>
              </select>
            </div> -->

            <div class="input-box">
              <label for="ethnicity">Ethnicity</label>
              <select name="preferredEthnicity" id="ethnicity" value={{filter.preferredEthnicity}} required>
                <option value="religion">-Select-</option>
              </select>
            </div>

            <div class="input-box">
              <span class="details" >Distance</span>
              <select name="distance" id="distance" value={{filter.distance}}required>
                <option value="distance">-Select-</option>
              </select>           
             </div>
             
          </div>
        

        <div class="button">
          <input type="submit" value="change">
        </div>
      </form>
    </div>
  </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  
// $('#age').append([...Array(100).keys()].map((i,j) => `<option value="${i}">${i}</option >`)) 
  for(let i =18;i<100;i++){
    $('#min_age').append(`<option value="${i}">${i}</option >`)
  }

  for(let i =18;i<100;i++){
    $('#max_age').append(`<option value="${i}">${i}</option >`)
  }

  for(let i =122;i<250;i++){
    $('#min_height').append(`<option value="${i}">${i}</option >`)
  }

  for(let i =122;i<250;i++){
    $('#max_height').append(`<option value="${i}">${i}</option >`)
  }

  eduArr = ['Secondary','Associate','Bachelor','Master','Doctor'];
  for(let i = 0;i<eduArr.length;i++){
    $('#education').append(`<option value="${i}">${eduArr[i]}</option >`)
  }

ethArr = ['Asian','Arab','Black/Agrican-descent','Hispanic/Latino','Native American','Pacific Islander','South Asian','White/Caucasian','Other'];
for(let i = 0;i<ethArr.length;i++){
$('#ethnicity').append(`<option value="${ethArr[i]}">${ethArr[i]}</option >`)
}

//  relArr = ['Buddhist','Christian','Catholic','Hindu','Jewish','Muslim','Sikh','Shinto','Spiritual but not religious','Neither religious nor spiritual','Other'];
//  for(let i = 0;i<relArr.length;i++){
//    $('#religion').append(`<option value="${relArr[i]}">${relArr[i]}</option >`)
//  }

  for(let i = 1;i<300;i++){
    $('#distance').append(`<option value="${i}">${i}</option >`)
  }

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

{{!-- get location --}}
<script>
  const successCallback = (position) => {
    let coords = {
      latitude:position.coords.latitude,
      longitude:position.coords.longitude
      }
    document.getElementById('location').value = JSON.stringify(coords)
  }

  const errorCallback = (error) => {
    console.error(error);
  }

  const watchId = navigator.geolocation.getCurrentPosition(successCallback,errorCallback)
</script>

{{!-- profile button toggle --}}
 <script>
        function menuToggle(){
            const toggleMenu = document.querySelector(".menu");
            toggleMenu.classList.toggle("active")
        }
</script>


{{!-- test pre set value --}}
<script>
      $('#gender').append(`<option value="Female" selected>Female</option >`)
      $('#min_age').append(`<option value="18" selected>18</option >`)
      $('#max_age').append(`<option value="99" selected>99</option >`)
      $('#min_height').append(`<option value="120" selected>120</option >`)
      $('#max_height').append(`<option value="200" selected>200</option >`)
      $('#education').append(`<option value="2" selected>Bachelor</option >`)
      $('#ethnicity').append(`<option value="Asian" selected>Asian</option >`)
      $('#distance').append(`<option value="100" selected>100</option >`)
</script>


