<link rel="stylesheet" href="/match.css">

     <div class="navbar_container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light top_navbar ">
              <div class="container-fluid">
                   <div class="navbar_left">
                         <a class="navbar-brand" >SomeLikesYou</a>
                   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                   </button>
                   
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                       <div class="navbar-nav">
                        <a class="nav-link" href="/chatroom">Talk to them</a>
                       </div>
                     </div>
                  </div>
              
                        <div class="navbar_right">
                              <div class="action">
                                 <div class="profile" onclick="menuToggle();">
                                     <img src="/upload/{{user.profilepic}}">
                                 </div>
                                 
                                 <div class="menu">
                                   <h3>{{user.firstname}}</h3>
                                     {{!-- <h3>Someone Famous<br><span>Website De</span></h3> --}}
                                     <ul>
                                         <li><img src="https://img.icons8.com/ios-glyphs/24/000000/test-account.png"/><a href="/myprofile">My Profile</a></li>
                                         {{!-- <li><img src="https://img.icons8.com/ios-glyphs/24/000000/edit-property.png"/><a href="#">Edit Profile</a></li> --}}
                                         <li><img src="https://img.icons8.com/ios-glyphs/24/000000/inbox.png"/><a href="#">Inbox</a></li>
                                         {{!-- <li><img src="https://img.icons8.com/ios-glyphs/24/000000/gear.png"/><a href="#">Settings</a></li> --}}
                                         {{!-- <li><img src="https://img.icons8.com/ios-glyphs/24/000000/help.png"/><a href="#">Help</a></li> --}}
                                         <li><img src="https://img.icons8.com/ios-glyphs/24/000000/exit.png"/><a href="/logout">Log Out</a></li>
                                     </ul>
                                </div>

                              </div>
                        </div>
              </div>
            </nav>
      </div>

    <div class="row">
        <div class="col-9 random-card">
            <div class="box-container">
                <div class="container">
                    {{#each data}}
                    <div class="box">
                      <a href="/profiles/{{id}}">
                      <div class="image">
                        <img src="/upload/{{profilepic}}">
                      </div>
                      </a>
                      <div class="name_job">{{firstname}}, {{age}}</div>
                      <p> {{work}}</p>
                      <div class="btns">
                      
                        <button id="likeBtn" data-id={{id}}>
                          {{!-- <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                              width="30" height="30"
                              viewBox="0 0 172 172"
                              style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#8e44ad"><path d="M28.57708,17.12161c-3.16203,0.04943 -5.68705,2.6496 -5.64375,5.81172c0,5.94803 2.72022,10.52689 5.9237,13.30312l9.18229,73.46953l10.26849,-10.27969l-7.41302,-59.29297h22.17188c23.01631,0 37.52397,11.12248 43.64948,17.05443l-63.15625,63.21224h-10.14531c-3.03867,0 -5.95729,1.20938 -8.10729,3.35938l-13.84062,13.84062l22.97813,0.03359l-0.04479,22.89974l13.86302,-13.86302c2.13853,-2.13853 3.34791,-5.0353 3.35937,-8.0625l0.03359,-10.08932l63.16745,-63.22344c5.9344,6.13136 17.04323,20.63447 17.04323,43.63828v22.17188l-59.19219,-7.40183l-10.25729,10.27969l73.34636,9.15989c2.77623,3.20348 7.35509,5.9237 13.30312,5.9237c2.06765,0.02924 3.99087,-1.05709 5.03322,-2.843c1.04236,-1.78592 1.04236,-3.99474 0,-5.78066c-1.04236,-1.78592 -2.96558,-2.87225 -5.03322,-2.843c-4.13631,0 -4.36476,-1.06775 -5.03906,-2.47474c-0.6743,-1.40699 -0.69427,-3.02343 -0.69427,-3.02343v-0.11198v-23.05651c0,-26.53055 -13.21795,-44.01692 -20.48099,-51.66719l13.06797,-13.07917l7.41302,7.41302l5.73333,-28.66667l-28.66667,5.73333l7.41302,7.41302l-13.06797,13.07917c-7.64473,-7.26088 -25.1359,-20.49219 -51.67839,-20.49219h-23.05651h-0.11198c0,0 -1.61645,-0.01995 -3.02344,-0.69427c-1.40699,-0.6743 -2.47474,-0.90276 -2.47474,-5.03906c0.02122,-1.54972 -0.58581,-3.04203 -1.68279,-4.1369c-1.09698,-1.09487 -2.59045,-1.69903 -4.14013,-1.67482z"></path></g></g>
                          </svg> --}}
                          <span style="font-size: 30px; ">
                          {{!-- <i class="fas fa-running"></i> --}}
                          <i class="far fa-heart"></i>
                          </span>

                        </button>
                      
                        <a href="/dislike/{{id}}">
                        <button>
                          <span style="font-size: 30px; color: white;">
                          {{!-- <i class="fas fa-running"></i> --}}
                          <i class="fas fa-times"></i>
                          </span>
                        </button>
                        </a>

                      </div>
                    </div>
                    {{/each}}
            </div>
        </div>
    </div>

    <div class="col-2 random-cardIcon">
        <div class="avatar-group" id="avatar-group">

    {{#each data}}
    <div class="avatar">
      <a href="/profiles/{{id}}">
         <img src="/upload/{{profilepic}}">
        </a>
    </div>
    {{/each}}
   


     {{!-- <div class="hidden-avatars">
          <p>+10</p>
      </div> --}}

  </div>
    </div>
    
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/likeBtn.js"></script>
<script>
    var remaining_num = 10;
     $('.avatar-group').append(`
    <div class="hidden-avatars">
          <p>+${remaining_num}</p>
      </div>`)
</script>

{{!-- profile button toggle --}}
<script>
        function menuToggle(){
            const toggleMenu = document.querySelector(".menu");
            toggleMenu.classList.toggle("active")
        }
</script>
