    <link rel="stylesheet" href="/myprofile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="/navbar.css">



<div class="navbar_container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light top_navbar">
              <div class="container-fluid">
                  
                   <div class="navbar_left">
                     <a class="navbar-brand" >LoveBetter</a>
                   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                   </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                      <div class="navbar-nav">
                        <a class="nav-link" href="/findmatches">
                         <span style="font-size: 30px;color:#8e44ad;">
                             <i class="fas fa-search"></i>
                         </span>
                         Find Matches
                         </a>
                        <a class="nav-link" href="/likeme">
                         <span style="font-size: 30px;color:#8e44ad;">
                             <i class="far fa-eye"></i>
                         </span>
                         See Who Likes You
                         </a>

                        <a class="nav-link" href="/chatroom">
                        <span style="font-size: 30px;color:#8e44ad;">
                            <i class="far fa-comments"></i>
                        </span>
                        Talk to them
                        </a>         
                      </div>
                     </div>
                  </div>
              
                       <div class="navbar_right">

                             
                                <div id="myPoint">
                                <a href="/wallet">
                                <span style="font-size: 50px;color:rgba(241, 241, 68, 0.884)">
                                  {{!-- <img src="https://img.icons8.com/nolan/64/coin-wallet.png"/> --}}
                                  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                   width="50" height="50"
                                   viewBox="0 0 172 172"
                                   style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#8e44ad"><path d="M47.03125,73.90625c-22.30625,0 -40.3125,5.77813 -40.3125,12.76563v16.125c0,3.35938 4.03125,6.45 10.75,8.73438c2.55313,0.94062 5.375,-1.075 5.375,-3.7625v-7.65937c0,-1.74688 -1.20937,-3.35937 -2.95625,-3.89688c-1.74687,-0.5375 -3.35937,-1.075 -4.8375,-1.74687c-3.35937,-1.34375 -3.35937,-6.04687 0,-7.39062c7.39063,-3.09063 18.94688,-5.10625 31.98125,-5.10625c13.03438,0 24.59063,2.01563 31.98125,4.97187c3.35938,1.34375 3.35938,6.04688 0,7.525c-7.39062,2.95625 -18.94687,4.97187 -31.98125,4.97187c-2.15,0 -4.43438,0 -6.45,-0.13437c-2.28437,-0.13437 -4.3,1.74687 -4.3,4.03125v8.0625c0,2.15 1.6125,3.89688 3.7625,4.03125c2.28437,0.13437 4.56875,0.13437 6.9875,0.13437c22.30625,0 40.3125,-5.77813 40.3125,-12.76562v-16.125c0,-6.9875 -18.00625,-12.76562 -40.3125,-12.76562zM81.56563,117.44375c-7.12188,3.7625 -19.8875,6.18125 -34.53437,6.18125c-2.15,0 -4.43438,0 -6.45,-0.13437c-2.28437,-0.13437 -4.3,1.74687 -4.3,4.03125v8.0625c0,2.15 1.6125,3.89688 3.7625,4.03125c2.28437,0.13438 4.56875,0.13438 6.9875,0.13438c22.30625,0 40.3125,-5.77812 40.3125,-12.76562v-5.9125c0,-2.95625 -3.225,-4.97187 -5.77813,-3.62812zM19.8875,120.26563c-2.82187,-0.80625 -5.24062,-1.74688 -7.25625,-2.82187c-2.6875,-1.34375 -5.9125,0.5375 -5.9125,3.62812v5.9125c0,3.35938 4.03125,6.45 10.75,8.73438c2.55313,0.94062 5.375,-1.075 5.375,-3.7625v-7.65937c0,-1.88125 -1.20937,-3.49375 -2.95625,-4.03125zM81.56563,141.63125c-7.12187,3.62813 -19.8875,6.18125 -34.53437,6.18125c-2.15,0 -4.43438,0 -6.45,-0.13438c-2.28437,-0.13437 -4.3,1.74688 -4.3,4.03125v8.0625c0,2.15 1.6125,3.89688 3.7625,4.03125c2.28437,0.13438 4.56875,0.13438 6.9875,0.13438c22.30625,0 40.3125,-5.77812 40.3125,-12.76562v-5.9125c0,-2.95625 -3.225,-4.97188 -5.77813,-3.62813zM19.8875,144.45313c-2.82187,-0.80625 -5.24062,-1.74687 -7.25625,-2.82188c-2.6875,-1.34375 -5.9125,0.5375 -5.9125,3.62813v5.9125c0,3.35938 4.03125,6.45 10.75,8.73438c2.55313,0.94062 5.375,-1.075 5.375,-3.7625v-7.65937c0,-1.88125 -1.20937,-3.49375 -2.95625,-4.03125zM121.74375,8.19688h-0.13437c-25.12812,0.40312 -48.375,1.74687 -66.78438,3.7625c-35.74375,4.03125 -38.7,9.1375 -38.7,13.57188v33.59375c0,2.28438 1.74687,4.03125 4.03125,4.03125v0c2.28438,0 4.03125,-1.74687 4.03125,-4.03125v-25.8c5.50938,2.01563 14.91562,4.03125 30.50313,5.77812c22.70938,2.55313 52.94375,3.89688 85.05937,3.89688h1.34375c5.24062,0 9.40625,4.16562 9.40625,9.40625v5.24063c0,2.01563 1.34375,3.7625 3.225,4.16562c2.55313,0.5375 4.8375,-1.47812 4.8375,-3.89688v-5.375c0,-8.73437 -6.45,-15.99062 -14.78125,-17.2v-5.24063c0,-12.3625 -9.94375,-22.0375 -22.0375,-21.90313zM167.96875,73.90625h-25.66563c-9.80937,0 -18.14062,7.525 -18.67812,17.2c-0.5375,10.48125 7.79375,19.08125 18.14063,19.08125h8.73438v20.15625c0,5.24062 -4.16563,9.40625 -9.40625,9.40625h-1.34375c-12.63125,0 -24.32187,-0.26875 -34.80313,-0.5375c-2.28437,-0.13438 -4.16562,1.74687 -4.16562,4.03125c0,2.15 1.74688,3.89687 3.89688,4.03125c11.2875,0.40312 22.97812,0.5375 35.07187,0.5375h1.34375c9.675,0 17.46875,-7.79375 17.46875,-17.46875v-20.15625h9.40625c2.28438,0 4.03125,-1.74688 4.03125,-4.03125v-28.21875c0,-2.28437 -1.74687,-4.03125 -4.03125,-4.03125zM163.9375,102.125h-22.17187c-5.50938,0 -10.07812,-4.56875 -10.07812,-10.07812c0,-5.50937 4.56875,-10.07812 10.07813,-10.07812h22.17188z"></path></g></g>
                                   </svg>
                                </span>
                                </a>
                                   <span>    
                                   {{coins.balance}} coin
                                  </span>
                                </div>
                             
                        
                        

                              <div class="action">
                                 <div class="profile" onclick="menuToggle();">
                                     <img src="/upload/{{data.profilepic}}">
                                 </div>
                                 
                                 <div class="menu">
                                   <h3>{{data.firstname}}</h3>
                                     {{!-- <h3>Someone Famous<br><span>Website De</span></h3> --}}
                                     <ul>
                                         <li><img src="https://img.icons8.com/material/64/000000/user-male-circle--v1.png"/><a href="/myprofile">My Profile</a></li>
                                        <li><img src="https://img.icons8.com/material/64/000000/user-male-circle--v1.png"/><a href="/filter">Filter</a></li>
                                         {{!-- <li><img src="https://img.icons8.com/ios-glyphs/24/000000/edit-property.png"/><a href="#">Edit Profile</a></li> --}}
                                         {{!-- <li><img src="https://img.icons8.com/material/64/000000/coins--v1.png"/><a href="#">Get Coins</a></li> --}}
                                         {{!-- <li><img src="https://img.icons8.com/ios-glyphs/24/000000/gear.png"/><a href="#">Settings</a></li> --}}
                                         {{!-- <li><img src="https://img.icons8.com/ios-glyphs/24/000000/help.png"/><a href="#">Help</a></li> --}}
                                         <li><img src="https://img.icons8.com/material/64/000000/logout-rounded-left--v1.png"/><a href="/logout">Log Out</a></li>
                                     </ul>
                                </div>

                        

                                    <div class="menu">
                                      <h3>{{user.firstname}}</h3>
                                        {{!-- <h3>Someone Famous<br><span>Website De</span></h3> --}}
                                        <ul>
                                            <li><img src="https://img.icons8.com/ios-glyphs/24/000000/test-account.png"/><a href="/myprofile">My Profile</a></li>
                                            {{!-- <li><img src="https://img.icons8.com/ios-glyphs/24/000000/edit-property.png"/><a href="#">Edit Profile</a></li> --}}
                                            {{!-- <li><img src="https://img.icons8.com/ios-glyphs/24/000000/inbox.png"/><a href="#">Inbox</a></li> --}}
                                            {{!-- <li><img src="https://img.icons8.com/ios-glyphs/24/000000/gear.png"/><a href="#">Settings</a></li> --}}
                                            {{!-- <li><img src="https://img.icons8.com/ios-glyphs/24/000000/help.png"/><a href="#">Help</a></li> --}}
                                            <li><img src="https://img.icons8.com/ios-glyphs/24/000000/exit.png"/><a href="/logout">Log Out</a></li>
                                        </ul>
                                    </div>

                            </div>
                </div>
  
              </div>
            </nav>
      </div>
  </div>



{{!-- profile file part --}}
<div class="container-allPart">

            <div class="main-bd">

                <div class="right-side">
                    <div class="nav">
                        <ul>
                            <li class="user-foto active" onclick="tabs(0)">Photos</li>
                            <li class="user-profile" onclick="tabs(1)">Profile</li>
                            {{!-- <li class="user-Comment" onclick="tabs(2)">Comment</li> --}}
                        </ul>
                    </div>
                    <div class="profile-body">
                        <div class="profile-posts tab profile-box">

             <div class="wrapper">
      <div class="gallery">

        <div class="profile-pic-div image" style="display:flex;">
        {{#if photos.pc1}}       
        <img src="/upload/{{photos.pc1}}" id="photo1" alt=" " onerror="this.style.display='none'"/>
        {{else}}
         <span style="font-size:88px;justify-content:center;align-items:center;">
                  <img style="position:absolute;" id="photo1"><i class="far fa-image" ></i></img>
        </span>
        {{/if}}
        <input type="file" id="picFile1" name="upload1" accept="image/*" form="myform1">
        <label for="picFile1" id="uploadBtn1">
         <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
            width="42" height="42"
            viewBox="0 0 172 172"
            style=" fill:#000000;"><g transform="translate(25.8,25.8) scale(0.7,0.7)"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M101.18718,14.31934l-30.40235,0.02799c-4.00617,0 -7.83787,1.68047 -10.55404,4.63314l-8.88835,9.6862h-22.67578c-7.88333,0 -14.33333,6.45 -14.33333,14.33333v86c0,7.88333 6.45,14.33333 14.33333,14.33333h114.66667c7.88333,0 14.33333,-6.45 14.33333,-14.33333v-86c0,-7.88333 -6.45,-14.33333 -14.33333,-14.33333h-22.63379l-8.94434,-9.71419c-2.71617,-2.95267 -6.5547,-4.63314 -10.56803,-4.63314zM86,50.16667c20.06667,0 35.83333,15.76667 35.83333,35.83333c0,20.06667 -15.76667,35.83333 -35.83333,35.83333c-20.06667,0 -35.83333,-15.76667 -35.83333,-35.83333c0,-20.06667 15.76667,-35.83333 35.83333,-35.83333zM86,64.5c-11.87412,0 -21.5,9.62588 -21.5,21.5c0,11.87412 9.62588,21.5 21.5,21.5c11.87412,0 21.5,-9.62588 21.5,-21.5c0,-11.87412 -9.62588,-21.5 -21.5,-21.5z"></path></g><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none"></path><path d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z" fill="none"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none"></path><path d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z" fill="none"></path></g></g></svg>
        </label>
        </div>
        
             <div class="profile-pic-div image" style="display:flex;">
        {{#if photos.pc2}}       
        <img src="/upload/{{photos.pc2}}" id="photo2" alt=" " onerror="this.style.display='none'"/>
        {{else}}
        <span style="font-size:88px;justify-content:center;align-items:center;">
        
                  <img style="position:absolute;" id="photo2"><i class="far fa-image" ></i></img>
        </span>
        {{/if}}
        <input type="file" id="picFile2" name="upload2" accept="image/*" form="myform1">
        <label for="picFile2" id="uploadBtn2">
         <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
            width="42" height="42"
            viewBox="0 0 172 172"
            style=" fill:#000000;"><g transform="translate(25.8,25.8) scale(0.7,0.7)"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M101.18718,14.31934l-30.40235,0.02799c-4.00617,0 -7.83787,1.68047 -10.55404,4.63314l-8.88835,9.6862h-22.67578c-7.88333,0 -14.33333,6.45 -14.33333,14.33333v86c0,7.88333 6.45,14.33333 14.33333,14.33333h114.66667c7.88333,0 14.33333,-6.45 14.33333,-14.33333v-86c0,-7.88333 -6.45,-14.33333 -14.33333,-14.33333h-22.63379l-8.94434,-9.71419c-2.71617,-2.95267 -6.5547,-4.63314 -10.56803,-4.63314zM86,50.16667c20.06667,0 35.83333,15.76667 35.83333,35.83333c0,20.06667 -15.76667,35.83333 -35.83333,35.83333c-20.06667,0 -35.83333,-15.76667 -35.83333,-35.83333c0,-20.06667 15.76667,-35.83333 35.83333,-35.83333zM86,64.5c-11.87412,0 -21.5,9.62588 -21.5,21.5c0,11.87412 9.62588,21.5 21.5,21.5c11.87412,0 21.5,-9.62588 21.5,-21.5c0,-11.87412 -9.62588,-21.5 -21.5,-21.5z"></path></g><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none"></path><path d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z" fill="none"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none"></path><path d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z" fill="none"></path></g></g></svg>
        </label>
        </div>

             <div class="profile-pic-div image" style="display:flex;">
        {{#if photos.pc3}}       
        <img src="/upload/{{photos.pc3}}" id="photo3" alt=" " onerror="this.style.display='none'"/>
        {{else}}
         <span style="font-size:88px;justify-content:center;align-items:center;">
                  <img style="position:absolute;" id="photo3"><i class="far fa-image" ></i></img>
        </span>
        {{/if}}
        <input type="file" id="picFile3" name="upload3" accept="image/*" form="myform1">
        <label for="picFile3" id="uploadBtn3">
         <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
            width="42" height="42"
            viewBox="0 0 172 172"
            style=" fill:#000000;"><g transform="translate(25.8,25.8) scale(0.7,0.7)"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M101.18718,14.31934l-30.40235,0.02799c-4.00617,0 -7.83787,1.68047 -10.55404,4.63314l-8.88835,9.6862h-22.67578c-7.88333,0 -14.33333,6.45 -14.33333,14.33333v86c0,7.88333 6.45,14.33333 14.33333,14.33333h114.66667c7.88333,0 14.33333,-6.45 14.33333,-14.33333v-86c0,-7.88333 -6.45,-14.33333 -14.33333,-14.33333h-22.63379l-8.94434,-9.71419c-2.71617,-2.95267 -6.5547,-4.63314 -10.56803,-4.63314zM86,50.16667c20.06667,0 35.83333,15.76667 35.83333,35.83333c0,20.06667 -15.76667,35.83333 -35.83333,35.83333c-20.06667,0 -35.83333,-15.76667 -35.83333,-35.83333c0,-20.06667 15.76667,-35.83333 35.83333,-35.83333zM86,64.5c-11.87412,0 -21.5,9.62588 -21.5,21.5c0,11.87412 9.62588,21.5 21.5,21.5c11.87412,0 21.5,-9.62588 21.5,-21.5c0,-11.87412 -9.62588,-21.5 -21.5,-21.5z"></path></g><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none"></path><path d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z" fill="none"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none"></path><path d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z" fill="none"></path></g></g></svg>
        </label>
        </div>

             <div class="profile-pic-div image" style="display:flex;">
        {{#if photos.pc4}}       
        <img src="/upload/{{photos.pc4}}" id="photo4" alt=" " onerror="this.style.display='none'"/>
        {{else}}
         <span style="font-size:88px;justify-content:center;align-items:center;">
                  <img style="position:absolute;" id="photo4"><i class="far fa-image" ></i></img>
        </span>
        {{/if}}
        <input type="file" id="picFile4" name="upload4" accept="image/*" form="myform1">
        <label for="picFile4" id="uploadBtn4">
         <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
            width="42" height="42"
            viewBox="0 0 172 172"
            style=" fill:#000000;"><g transform="translate(25.8,25.8) scale(0.7,0.7)"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M101.18718,14.31934l-30.40235,0.02799c-4.00617,0 -7.83787,1.68047 -10.55404,4.63314l-8.88835,9.6862h-22.67578c-7.88333,0 -14.33333,6.45 -14.33333,14.33333v86c0,7.88333 6.45,14.33333 14.33333,14.33333h114.66667c7.88333,0 14.33333,-6.45 14.33333,-14.33333v-86c0,-7.88333 -6.45,-14.33333 -14.33333,-14.33333h-22.63379l-8.94434,-9.71419c-2.71617,-2.95267 -6.5547,-4.63314 -10.56803,-4.63314zM86,50.16667c20.06667,0 35.83333,15.76667 35.83333,35.83333c0,20.06667 -15.76667,35.83333 -35.83333,35.83333c-20.06667,0 -35.83333,-15.76667 -35.83333,-35.83333c0,-20.06667 15.76667,-35.83333 35.83333,-35.83333zM86,64.5c-11.87412,0 -21.5,9.62588 -21.5,21.5c0,11.87412 9.62588,21.5 21.5,21.5c11.87412,0 21.5,-9.62588 21.5,-21.5c0,-11.87412 -9.62588,-21.5 -21.5,-21.5z"></path></g><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none"></path><path d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z" fill="none"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none"></path><path d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z" fill="none"></path></g></g></svg>
        </label>
        </div>

             <div class="profile-pic-div image" style="display:flex;">
        {{#if photos.pc5}}       
        <img src="/upload/{{photos.pc5}}" id="photo5" alt=" " onerror="this.style.display='none'"/>
        {{else}}
         <span style="font-size:88px;justify-content:center;align-items:center;">
                  <img style="position:absolute;" id="photo5"><i class="far fa-image" ></i></img>
        </span>
        {{/if}}
        <input type="file" id="picFile5" name="upload5" accept="image/*" form="myform1">
        <label for="picFile5" id="uploadBtn5">
         <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
            width="42" height="42"
            viewBox="0 0 172 172"
            style=" fill:#000000;"><g transform="translate(25.8,25.8) scale(0.7,0.7)"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M101.18718,14.31934l-30.40235,0.02799c-4.00617,0 -7.83787,1.68047 -10.55404,4.63314l-8.88835,9.6862h-22.67578c-7.88333,0 -14.33333,6.45 -14.33333,14.33333v86c0,7.88333 6.45,14.33333 14.33333,14.33333h114.66667c7.88333,0 14.33333,-6.45 14.33333,-14.33333v-86c0,-7.88333 -6.45,-14.33333 -14.33333,-14.33333h-22.63379l-8.94434,-9.71419c-2.71617,-2.95267 -6.5547,-4.63314 -10.56803,-4.63314zM86,50.16667c20.06667,0 35.83333,15.76667 35.83333,35.83333c0,20.06667 -15.76667,35.83333 -35.83333,35.83333c-20.06667,0 -35.83333,-15.76667 -35.83333,-35.83333c0,-20.06667 15.76667,-35.83333 35.83333,-35.83333zM86,64.5c-11.87412,0 -21.5,9.62588 -21.5,21.5c0,11.87412 9.62588,21.5 21.5,21.5c11.87412,0 21.5,-9.62588 21.5,-21.5c0,-11.87412 -9.62588,-21.5 -21.5,-21.5z"></path></g><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none"></path><path d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z" fill="none"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none"></path><path d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z" fill="none"></path></g></g></svg>
        </label>
        </div>

             <div class="profile-pic-div image" style="display:flex;">
        {{#if photos.pc6}}       
        <img src="/upload/{{photos.pc6}}" id="photo6" alt=" " onerror="this.style.display='none'"/>
        {{else}}
         <span style="font-size:88px;justify-content:center;align-items:center;">
                  <img style="position:absolute;" id="photo6"><i class="far fa-image" ></i></img>
        </span>
        {{/if}}
        <input type="file" id="picFile6" name="upload6" accept="image/*" form="myform1">
        <label for="picFile6" id="uploadBtn6">
         <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
            width="42" height="42"
            viewBox="0 0 172 172"
            style=" fill:#000000;"><g transform="translate(25.8,25.8) scale(0.7,0.7)"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M101.18718,14.31934l-30.40235,0.02799c-4.00617,0 -7.83787,1.68047 -10.55404,4.63314l-8.88835,9.6862h-22.67578c-7.88333,0 -14.33333,6.45 -14.33333,14.33333v86c0,7.88333 6.45,14.33333 14.33333,14.33333h114.66667c7.88333,0 14.33333,-6.45 14.33333,-14.33333v-86c0,-7.88333 -6.45,-14.33333 -14.33333,-14.33333h-22.63379l-8.94434,-9.71419c-2.71617,-2.95267 -6.5547,-4.63314 -10.56803,-4.63314zM86,50.16667c20.06667,0 35.83333,15.76667 35.83333,35.83333c0,20.06667 -15.76667,35.83333 -35.83333,35.83333c-20.06667,0 -35.83333,-15.76667 -35.83333,-35.83333c0,-20.06667 15.76667,-35.83333 35.83333,-35.83333zM86,64.5c-11.87412,0 -21.5,9.62588 -21.5,21.5c0,11.87412 9.62588,21.5 21.5,21.5c11.87412,0 21.5,-9.62588 21.5,-21.5c0,-11.87412 -9.62588,-21.5 -21.5,-21.5z"></path></g><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none"></path><path d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z" fill="none"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none"></path><path d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z" fill="none"></path></g></g></svg>
        </label>
        </div>

      </div>
    </div>
      
        <div class="content" style="display: flex;justify-content:center;">
    <form action="/photoupload" method="POST" id="myform1" enctype="multipart/form-data">

        <div class="button" >
          <input type="submit" value="Change">
        </div>
      </form>
    </div>

    </div>

    
    
  <div class="preview-box">
    <div class="details">
      <span class="title">Image <p class="current-img"></p> of <p class="total-img"></p></span>
      <span class="icon fas fa-times"></span>
    </div>
    <div class="image-box">
      <div class="slide prev">
          <span style="color:black">
            <i class="fas fa-angle-left"></i>
          </span>
      </div>
      <div class="slide next">
          <span style="color:black">
             <i class="fas fa-angle-right"></i>
          </span>
      </div>
      <img src="" alt="">
    </div>
  </div>
  <div class="shadow"></div>
  
                        </div>
                        <div class="profile-review tab profile-box">

     <div class="container-profile-info">
     
    <div class="top-info">
      <div>
         <h3 class="user-name">{{data.firstname}}</h3>
                <div class="address">
                    {{!-- <p class="state">New York,</p> --}}
                    <span class="country">{{data.hometown}}</span>
                    <p class="user-age">{{data.age}}</p>
                </div>
      </div>
       <div class="profile-pic-div-around">
        <img scr="/upload/{{data.profilepic}}" id="photo">
        <input type="file" id="picFile" name="upload" accept="image/*" form="myform2" required/>
        <label for="picFile" id="uploadBtn">
         <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
            width="32" height="32"
            viewBox="0 0 172 172"
            style=" fill:#000000;"><g transform="translate(25.8,25.8) scale(0.7,0.7)"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M101.18718,14.31934l-30.40235,0.02799c-4.00617,0 -7.83787,1.68047 -10.55404,4.63314l-8.88835,9.6862h-22.67578c-7.88333,0 -14.33333,6.45 -14.33333,14.33333v86c0,7.88333 6.45,14.33333 14.33333,14.33333h114.66667c7.88333,0 14.33333,-6.45 14.33333,-14.33333v-86c0,-7.88333 -6.45,-14.33333 -14.33333,-14.33333h-22.63379l-8.94434,-9.71419c-2.71617,-2.95267 -6.5547,-4.63314 -10.56803,-4.63314zM86,50.16667c20.06667,0 35.83333,15.76667 35.83333,35.83333c0,20.06667 -15.76667,35.83333 -35.83333,35.83333c-20.06667,0 -35.83333,-15.76667 -35.83333,-35.83333c0,-20.06667 15.76667,-35.83333 35.83333,-35.83333zM86,64.5c-11.87412,0 -21.5,9.62588 -21.5,21.5c0,11.87412 9.62588,21.5 21.5,21.5c11.87412,0 21.5,-9.62588 21.5,-21.5c0,-11.87412 -9.62588,-21.5 -21.5,-21.5z"></path></g><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none"></path><path d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z" fill="none"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none"></path><path d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z" fill="none"></path></g></g></svg>
        </label>
        </div>
    </div>
   

    <div class="content">

 <form action="/setup" method="POST" id="myform2" enctype="multipart/form-data">
        <div class="user-details">
          <div class="input-box">
            <label for="gender">Gender</label>
              <select name="gender" id="gender" disabled>
                <option value="{{data.gender}}" class="select">{{data.gender}}</option>
              </select>
          </div>

          <div class="input-box">
             <div class="row" style="display: flex;">
                <div style="width:60%">
                  <label for="birthday">Birthday</label>
                </div>

                  <div  style="width: 40%;">
                  <p id="now_age"></p>
                </div>
            </div>
              <input type="date" id="start" name="birthday" max="" value="{{data.birthday}}" disabled>
          </div>

            <div class="input-box">
              <label for="height">Height</label>
              <select name="height" id="height" required>
              <option value="{{data.height}}" class="select">{{data.height}} cm</option>
              </select>
            </div>

            <div class="input-box">
              <label for="education">Education</label>
              <select name="education" id="education" required>
              <option value="data.education" class="select">{{data.educationName}}</option>
              </select>
            </div>

            <div class="input-box">
              <label for="ethnicity">Ethnicity</label>
              <select name="ethnicity" id="ethnicity" disabled>
            <option value="data.ethnicity" class="select">{{data.ethnicity}}</option>
              </select>
            </div>

            <div class="input-box">
              <label for="religion">Religion</label>
              <select name="religion" id="religion" required>
           <option value="data.religion" class="select">{{data.religion}}</option>
              </select>
            </div>

            <div class="input-box" id="input_work">
              <span class="details">Job Title</span>
              <input type="text" name="work" placeholder="Enter your job tilte" value="{{data.work}}" required>
            </div>

            <div class="input-box" id="input_hometown">
              <span class="details">Home Town</span>
              <input type="text" name="hometown" placeholder="Enter your location" value="{{data.hometown}}" required>
            </div>

            <div class="input-box" id="input_location">
              <input type="text" name="location" id="location" style="display: none"required >
            </div>

            <div class="input-box" id="input_aboutme" style="width:100%">
              <label for="aboutme">About Me</label>
              <textarea id="aboutme" name="aboutme"  style="width:100%" required>{{data.aboutme}}</textarea>
            </div>
          </div>

        <div class="button">
          <input type="submit" value="Next" id="submit">
        </div>
      </form>
    </div>
  </div>



  </div>
                        
                    </div>
                </div>

            </div>
    </div>

    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/likeBtn.js"></script>

{{!-- profile button toggle --}}
 <script>
        function menuToggle(){
            const toggleMenu = document.querySelector(".menu");
            toggleMenu.classList.toggle("active")
        }
</script>


{{!-- right-side nav change effect --}}
<script>
    $('.nav ul li').click(function(){

    $(this).addClass("active").siblings().removeClass('active')
})

const tabBtn = document.querySelectorAll(".nav ul li");
const tab = document.querySelectorAll(".tab");

function tabs(panelIndex) {
    tab.forEach(function(node){
        node.style.display = "none";
    })
    tab [panelIndex].style.display = "block";
}
tabs(0);

</script>

<script>
document.getElementById('start').max = new Date(new Date().getTime() - new Date().getTimezoneOffset() * 60000).toISOString().split("T")[0];

// $('#age').append([...Array(100).keys()].map((i,j) => `<option value="${i}">${i}</option >`)) 

  for(let i =122;i<250;i++){

    $('#height').append(`<option value="${i}">${i}</option >`)
  }

  eduArr = ['Secondary','Associate','Bachelor','Master','Doctor'];
  for(let i = 0;i<eduArr.length;i++){
    $('#education').append(`<option value="${i+1}">${eduArr[i]}</option >`)
  }

  relArr = ['Buddhist','Christian','Catholic','Hindu','Jewish','Muslim','Sikh','Shinto','Spiritual but not religious','Neither religious nor spiritual','Other'];
  for(let i = 0;i<relArr.length;i++){
    $('#religion').append(`<option value="${relArr[i]}">${relArr[i]}</option >`)
  }

</script>

<script>
  const successCallback = (position) => {
    let coords = {
      latitude:position.coords.latitude,
      longitude:position.coords.longitude
      }
    document.getElementById('location').value = JSON.stringify(coords)
  }

  const errorCallback = (error) => {
    console.error(error);
  }

  const watchId = navigator.geolocation.getCurrentPosition(successCallback,errorCallback)
</script>

{{!-- calculate age --}}
<script>
  document.getElementById("start").addEventListener("change",()=>{

var birth_date = new Date(document.getElementById("start").value);
var birth_date_day = birth_date.getDate();
var birth_date_month = birth_date.getMonth();
var birth_date_year = birth_date.getFullYear();

var today_date =new Date();
var today_day = today_date.getDate(); //if getDay is Monday to Sunday
var today_month = today_date.getMonth();
var today_year = today_date.getFullYear();

var calculated_age;

if(today_month > birth_date_month){
  calculated_age = today_year - birth_date_year;
}else if(today_month == birth_date_month){
  if(today_day >= birth_date_day){
    calculated_age = today_year - birth_date_year;
  }else{
    calculated_age = today_year - birth_date_year - 1;
  }
}else{
    calculated_age = today_year - birth_date_year - 1;
  }

  document.getElementById("now_age").innerHTML = "Age : " + calculated_age ;
})

</script>

{{!-- add foto in the button --}}
<script>

    //declearing html elements

    const imgDiv = document.querySelector(".profile-pic-div-around");
    const img = document.querySelector("#photo");
    const file = document.querySelector("#picFile");
    const uploadBtn = document.querySelector("#uploadBtn");


    uploadBtn.style.display = "block";
    //if user hover on profile div

    imgDiv.addEventListener("mouseenter",function(){
        uploadBtn.style.display = "block";
    })

    imgDiv.addEventListener("mouseleave",function(){
        uploadBtn.style.display = "none";
    })

    
    //when we choose a foto to upload
    file.addEventListener("change",function(){
        const choosedFile = this.files[0];

        if(choosedFile) {
            //FileReader is a predefined function of JS
            const reader = new FileReader();

            reader.addEventListener('load',function(){
                img.setAttribute("src",reader.result);
            });

            reader.readAsDataURL(choosedFile);
        }
    })

</script>


{{!-- add foto in the button --}}
<script>
    var n;

    for(var n = 1;n < 7;n++){
     const imgDiv = document.querySelector(".profile-pic-div");
    const img = document.querySelector(`#photo${n}`);
    const file = document.querySelector(`#picFile${n}`);
    const uploadBtn = document.querySelector(`#uploadBtn${n}`);

    uploadBtn.style.display = "block";
    //if user hover on profile div
    
    //when we choose a foto to upload
    file.addEventListener("change",function(){
        const choosedFile = this.files[0];

        if(choosedFile) {
            //FileReader is a predefined function of JS
            const reader = new FileReader();

            reader.addEventListener('load',function(){
                img.setAttribute("src",reader.result);
            });

            reader.readAsDataURL(choosedFile);
        }
    }) 
    }
    //declearing html elements

    

</script>