    <link rel="stylesheet" href="/wallet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>



<div class="navbar_container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light top_navbar">
              <div class="container-fluid">
                   <div class="navbar_left">
                         <a class="navbar-brand" >LoveBetter</a>
                   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                   </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                       <div class="navbar-nav">
                        <a class="nav-link" href="/findmatches"><img src="https://img.icons8.com/nolan/64/small-hearts.png"/>Find Matches</a>
                        <a class="nav-link" href="/likeme"><img src="https://img.icons8.com/nolan/64/filled-like.png"/>See Who Likes You</a>
                        <a class="nav-link" href="/chatroom"><img src="https://img.icons8.com/nolan/64/love-message.png"/>Talk to them</a>
                       </div>
                     </div>
                  </div>
              
                        <div class="navbar_right">
                            
                              <div class="action">

                                 <div class="profile" onclick="menuToggle();">
                                     <img src="/upload/{{user.profilepic}}">
                                 </div>
                                 
                                 <div class="menu">
                                   <h3>{{user.firstname}}</h3>
                                     {{!-- <h3>Someone Famous<br><span>Website De</span></h3> --}}
                                     <ul>
                                         <li><img src="https://img.icons8.com/material/64/000000/user-male-circle--v1.png"/><a href="/myprofile">My Profile</a></li>
                                         {{!-- <li><img src="https://img.icons8.com/ios-glyphs/24/000000/edit-property.png"/><a href="#">Edit Profile</a></li> --}}
                                         {{!-- <li><img src="https://img.icons8.com/material/64/000000/coins--v1.png"/><a href="#">Get Coins</a></li> --}}
                                         {{!-- <li><img src="https://img.icons8.com/ios-glyphs/24/000000/gear.png"/><a href="#">Settings</a></li> --}}
                                         {{!-- <li><img src="https://img.icons8.com/ios-glyphs/24/000000/help.png"/><a href="#">Help</a></li> --}}
                                         <li><img src="https://img.icons8.com/material/64/000000/logout-rounded-left--v1.png"/><a href="/logout">Log Out</a></li>
                                     </ul>
                                </div>

                              </div>
                        </div>
              </div>
            </nav>
      </div>



{{!-- profile file part --}}
<div class="container-allPart">


            <div class="main-bd">
                <div class="left-side">
                    <div class="profile-side">
                        <div class="wallet-div">
                            <img src="https://img.icons8.com/cotton/128/000000/coin-wallet--v1.png"/>
                        </div>



                        <div>
                            <h2>Total Balance</h2>
                        </div>

                        <div>
                               <span>
                                 <h2>{{coin.balance}}</h2>
                                </span>
                        </div>
                             


                    </div>
                </div>

                <div class="right-side">
                    <div class="nav">
                        <ul>
                            <li class="user-foto active" onclick="tabs(0)">Shop</li>
                            <li class="user-profile" onclick="tabs(1)">History</li>
                            {{!-- <li class="user-Comment" onclick="tabs(2)">Comment</li> --}}
                        </ul>
                    </div>
                    <div class="profile-body">
                        <div class="profile-posts tab profile-box">

                            <div class="container-shopbox">

                                <div class="card">
                                    <div class="circle">
                                        <h2>100 Coins</h2>
                                    </div>
                                    <div class="content">
                                        <h2>HK$100</h2>
                                        <h4>Get 100 coins to browse more matches!</h4>
                                        <a href="" class="checkout" data-amount="100">BUY</a>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="circle">
                                        <h2>300 Coins</h2>
                                    </div>
                                    <div class="content">
                                        <h2>HK$270</h2>
                                        <h4>Get 300 coins to see who likes you!</h4>
                                        <a href="" class="checkout" data-amount="300">BUY</a>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="circle">
                                        <h2>1000 Coins</h2>
                                    </div>
                                    <div class="content">
                                        <h2>HK$800</h2>
                                        <h4>BUY MORE!</h4>
                                        <h4>SAVE MORE!</h4>
                                        <a href="" class="checkout" data-amount="1000">BUY</a>
                                    </div>
                                </div>
                                
                            </div>
                           
                        </div>

                        <div class="profile-review tab profile-box">

                           <div class="container-history">
                                <table>

                                  <tr>
                                      <th>Amount</th>
                                      <th>Items</th>
                                      <th>Date</th>
                                  </tr>
                                {{#each coin.transactions}}
                                  <tr>
                                      <td>{{amount}}</td>
                                      <td>{{item}}</td>
                                      <td>{{data}}</td>

                                  </tr>
                                {{/each}}
                                </table>
                           </div>
                            
                        </div>
                        {{!-- <div class="profile-setting tab">
                            <h1>Account Setting</h1>
                            <p>Bye</p>
                        </div> --}}
                    </div>
                </div>

            </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="/stripeBtn.js"></script>


{{!-- profile button toggle --}}
 <script>
        function menuToggle(){
            const toggleMenu = document.querySelector(".menu");
            toggleMenu.classList.toggle("active")
        }
</script>


{{!-- right-side nav change effect --}}
<script>
    $('.nav ul li').click(function(){

    $(this).addClass("active").siblings().removeClass('active')
})

const tabBtn = document.querySelectorAll(".nav ul li");
const tab = document.querySelectorAll(".tab");

function tabs(panelIndex) {
    tab.forEach(function(node){
        node.style.display = "none";
    })
    tab [panelIndex].style.display = "block";
}
tabs(0);

</script>

